<footer id="footer" class="footer-1">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="https://www.aazperfumes.com.br/arquivos/Banner-900x358-Lancome-LaVieEstBelle-20171212_01.jpg?v=636493859320400000" class="img-fluid" alt="banner">
                    <p>© 2023 SofiaBas | Coderhouse </p>
                </div>
            </div>
        </div>
    </div>
</footer>