<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(`./partials/head`) %>
</head>

<body class="bg-light">
    <header>
        <%- include('./partials/header', {current: `formProductos`}) %>
    </header>

    <div class="board">
        <main>
            <div class="board">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/unisex-perfumes-1628602980.jpg" class="img-fluid" alt="logo">
                <hr class="my-4">
                <img src="https://blog.prieto.es/wp-content/uploads/2021/10/c1070_InterditRouge_Banner.jpg" alt="banner" class="img-fluid">
                <hr class="my-4">
            </div>
        </main>
    </div>
</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>