<div class="container">
  <br />
  <h1>Añade un producto</h1>
  <br />
  <form onsubmit="return addProduct(this)">
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        aria-describedby="emailHelp"
        placeholder="Ingresa nombre"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Precio</label>
      <input
        type="number"
        class="form-control"
        name="price"
        id="price"
        aria-describedby="emailHelp"
        placeholder="Ingresar Precio"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Imagen</label>
      <input
        type="text"
        class="form-control"
        name="thumbnail"
        id="thumbnail"
        aria-describedby="emailHelp"
        placeholder="Ingresar url de la imagen"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Enviar</button>
    <br />
  </form>
</div>
<div class="container">

  <br />
  <h1>Vista de los productos</h1>
  {{#if body}}
    <table class="table" style="background-color:  rgb(47, 41, 243); color: rgb(229, 251, 57);">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody id="productos" style="color: gray">
      </tbody>
    </table>
  {{else}}
    <p>No hay productos en la base de datos</p>
  {{/if}}
</div>
<div class="container">
  <br />
  <h1>Sala de Chat</h1>

  <form>
    <input type="text" id="username" placeholder="Tu Email" />
    <br />
    <br />
    {{#if body2}}
      <div id="mensajes"></div>
    {{else}}
      <p>No hay mensajes en la base de datos</p>
    {{/if}}
    <br />
    <input type="text" id="texto" placeholder="Chatea con quien quieras" />
    <input onclick="return addMessage(this)" type="button" value="Enviar" />
  </form>
</div>