<!DOCTYPE html>
<html lang="es">

<head>
    <%- include(`./partials/head`) %>
</head>

<body class="bg-light">
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="attention">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/unisex-perfumes-1628602980.jpg" class="img-fluid" alt="logo">
        <hr class="my-4">
        <img src="img/linterdit.jpg" alt="banner" class="img-fluid mx-auto">
        <hr class="my-4">
        <img src="img/banner.png" alt="banner" class="img-fluid mx-auto">
        <hr class="my-4">
    </div>

</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>